@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Alternates:ital,wght@1,700&display=swap');

#secondaryNav > a,
#secondarySmallNav > li > a,
#secondarySmallNav > li > ul > li > a,
#navMenu {
  font-family: 'Montserrat', sans-serif;
}

.navbar-brand {
  font-family: 'Montserrat Alternates', sans-serif;
}

body {
  background-color: #21212c;
}

main {
  margin-top: 4.5rem !important;
}

footer > .container {
  background-color: #16191d;
}

.bg-navbar {
  background-color: #1d161b;
}

.custom-bg {
  background-color: #2d3339;
  background-color: #39302d;
}

.bigger-icon {
  font-size: 1.25rem;
}

.img-fluid-without-fill {
  width: 8rem;
  max-width: 100%;
}

.card-text {
  font-size: 1.05rem;
}

.custom-size {
  height: 8rem;
  width: 8rem;
  max-width: 100%;
}

.custom-card-bg {
  background-color: #9e9e9e;
}

.custom-card-size {
  height: 20rem;
}

@media (min-width: 576px) {
  .custom-card-size {
    height: 22rem;
  }
}

@media (min-width: 768px) {
  .custom-card-size {
    height: 16rem;
  }
}

#secondaryNav > a {
  background: linear-gradient(currentColor 0 0) bottom / var(--d, 0) 3px
    no-repeat;
  transition: 0.5s;
}

#secondaryNav > a:hover {
  --d: 100%;
}

#secondaryNav > a.active {
  --d: 100%;
}
