body {
  background-color: #212529;
}

.bg-navbar {
  background-color: #1d161b;
}

footer > div.container {
  background-color: #16191d;
}

.custom-bg {
  background-color: #2d3339;
}

.navbar-brand {
  font-family: 'Montserrat Alternates', sans-serif;
}

.bigger-icon {
  font-size: 1.25rem;
}

.img-fluid-without-fill {
  width: 8rem;
  max-width: 100%;
}
